#slider {
    width: 100%;
    position: relative;
}

.flex__container {
	position: absolute;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
    display: -ms-flex;
    flex-direction: column;
	/* -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;  */
	/* -webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center; */
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.slider__navi {
	position: absolute;
	right: 20px;
	/* transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%); */
	z-index: 999;
}

.slider__navi button {
    display: block;
    margin: 20px 0;
    /* text-indent: -9999px; */
    box-shadow: none;
    border: none;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 9px;
    transition: margin 2s, opacity 1s ease;
    color: #f3f0ec;
}

.slider__navi button.active {
	display: none;
}

.flex__item {
	/* height: 30vh; */
	transition: transform 0.1s linear;
}


.flex__item--upper {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--down {
	width: 100%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
    opacity: 0;
    height: inherit;
    position: relative;
}

.flex--preStart .flex__item--upper,
.flex--preStart .flex__item--down,
.flex--active .flex__item--upper,
.flex--active .flex__item--down {
	opacity: 1;
}

.flex--teachers .flex__item--upper {
	background: #e6122f;
}

.flex--teachers .flex__item--upper h2 span:first-of-type {
    background: linear-gradient(0deg, #000, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex--teachers .flex__item--upper h2 span:nth-of-type(2) {
    font-size: 16px;
    font-family: monospace;
    color: #f5dc8e;
    word-spacing: 5px;
    letter-spacing: 10px;
    font-weight: 100;
    margin: 9px 0;
}

.flex--teachers .flex__item--upper h2 .sifu--phase {
    font-family: LiXuKeShuFa;
    padding-left: 35px;
    margin: 0 auto;
    font-weight: 300;
    letter-spacing: 30px;
    font-size: .725rem;
    border-top: .4px solid;
    border-bottom: .4px solid;
    width: 60%;
    color: #000;
}

.flex--teachers .flex__item--down {
	background: #0e3b51;
}

.flex--students .flex__item--upper {
	background: #bb350f;
}

.flex--students .flex__item--upper h2 span:first-of-type {
    background: linear-gradient(0deg, #f7d981d1, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex--students .flex__item--upper h2 span:nth-of-type(2) {
    font-size: 16px;
    font-family: monospace;
    word-spacing: 5px;
    letter-spacing: 10px;
    font-weight: 100;
    margin: 9px 0;
    color: #fff;
}

.flex--students .flex__item--down {
	background: #5d0521;
}

.flex__content {
	/* margin-left: 80px;
	width: 55%; */
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}


.flex__container.animate--end .flex__item--upper {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--down {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}
